/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
}
.home {
  background: url('/assets/images/sand-mountain.jpeg');
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
}
