.home {
  background: url('/assets/images/sand-mountain.jpeg');
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1 {
  font-size: 700%;
  line-height: 1.2;
  margin: 0;
}
h3 {
  font-size: 260%;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}
.btn {
  background-color: #fff;
  color: #36342f;
  font-size: 170%;
  padding: 5px;
  border-radius: 10px;
}
.btn:hover {
  color: #fff;
  background-color: #36342f;
}
p {
  color: black;
  padding: 3%;
  font-size: 180%;
}
