<header class="home">
  <div class="landing-text">
    <h1>Nx-Dev</h1>
    <h3>Extensible Dev Tools For Monorepos</h3>
    <br />
    <a href="https://nx.dev/angular"
      ><button class="btn">Get started</button></a
    >
  </div>
</header>
<p>
  Why Nx? Nx is the preeminent toolkit for Monorepo development, which helps you
  to build software smarter and faster. With Nx you can build full-stack
  applications with your preferred framework, integrate with modern tools you’re
  probably already using, and reinforce best practices for your entire
  development team or enterprise. Use Nx to build software at scale, the better
  way. Out of the box integration with Cypress, Jest, Typescript, Prettier +
  more Has a growing ecosystem, and a community plugin market Many leading
  enterprises are already using Nx to build the software you know and love
</p>
