// .home {
//   background: url('/assets/images/sand-mountain.jpeg');
//   display: table;
//   height: 100%;
//   width: 100%;
//   background-size: cover;
// }
.home {
  border: 1px solid green;
  background: url('^assets/images/sand-mountain.jpeg');
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1 {
  font-size: 500%;
  line-height: 1.2;
  margin: 0;
}
.btn {
  background-color: #fff;
  color: #36342f;
  font-size: 170%;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}
.btn:hover {
  color: #fff;
  background-color: #36342f;
}
.btn-delete {
  background-color: red;
  margin-left: 10px;
  font-size: 100%;
}
.input {
  border: 5px solid rgb(155, 144, 144);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
// .box {
//   border: 2px solid grey;
