
<div class="home">
  <nrwl-todos-nav-bar></nrwl-todos-nav-bar>
  <div class="landing-text">
    <h1>Add a Todo</h1>
    <br />
    <div class="box">
      <input
        type="text"
        class="input"
        placeholder="Type a todo"
        [(ngModel)]="todoValue"
        (key.enter)="addItem()"
      />
      <button class="btn" (click)="addItem()">Add Todo</button>
    </div>
    <div class="list">
      <ul>
        <li class="text" *ngFor="let item of list">
          <input
           class="input"
            type="checkbox"
            name="isDone"
            [(ngModel)]="item.isDone"
          />
          {{ item.value }}
          <button class="btn btn-delete" (click)="deleteItem(item.id)">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
