<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>

<div class="container">
  Add a todo....
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a todo"
    [(ngModel)]="todoValue"
    (key.enter)="addItem()"
  />
  <button (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
        {{ item.value }}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
